# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/Front/node_modules
/Front/.pnp
/Front/.idea
/Front.pnp.js

# testing
/Front/coverage

# production
/Front/build

# misc
/Front/.DS_Store
/Front/.env.local
/Front/.env.development.local
/Front/.env.test.local
/Front/.env.production.local

/Front/npm-debug.log*
/Front/yarn-debug.log*
/Front/yarn-error.log*

/Front/writing

/Front/package-lock.json

/Backend/target/
/Backend/!.mvn/wrapper/maven-wrapper.jar
/Backend/!**/src/main/**
/Backend/!**/src/test/**

### STS ###
/Backend/.apt_generated
/Backend/.classpath
/Backend/.factorypath
/Backend/.project
/Backend/.settings
/Backend/.springBeans
/Backend/.sts4-cache

### IntelliJ IDEA ###
.idea
/Backend/.idea
/Backend/*.iws
/Backend/*.iml
/Backend/*.ipr

### NetBeans ###
/Backend/nbproject/private/
/Backend/nbbuild/
/Backend/dist/
/Backend/nbdist/
/Backend/.nb-gradle/
/Backendbuild/

### VS Code ###
/Backend/.vscode/