.leaflet-container {
  width: 100%;
  height: 100vh;
}

.leaflet-routing-container {
  width: 220px;
  background-color: white;
  padding-top: 4px; 
  top: 20px;
  transition: margin-right 0.2s ease;
  display: none;
}

.searchedFeatures {
  align-items: center;
  align-self: center;
  text-align: center;
}

.boldOption {
  font-weight: bold;
}

.Collapsible{
  background-color: white;
  border-style: solid;
  border-width: thin;

}